name: ControlDB Deployment
on: workflow_dispatch 
jobs:
    release:      
      runs-on: windows-latest
      steps:
          
        - name: Get Runner IP
          id: runner
          run: |
            ip=$(curl -s https://api.ipify.org)
            echo "ip=$ip" >> $GITHUB_OUTPUT
        
        - name: Whitelist IP in Azure
          uses: azure/CLI@v1
          with:
            inlineScript: |
              az login --service-principal -u ... -p ... --tenant ...
              az storage account network-rule add \
                --resource-group ${{ secrets.RG }} \
                --account-name ${{ secrets.ACCOUNT }} \
                --ip-address ${{ steps.runner.outputs.ip }}
        
        - name: Deploy artifacts...
          run: echo "Deploying..."
        
        - name: Remove IP from Azure Firewall
          if: always()
          uses: azure/CLI@v1
          with:
            inlineScript: |
              az login --service-principal -u ... -p ... --tenant ...
              az storage account network-rule remove \
                --resource-group ${{ secrets.RG }} \
                --account-name ${{ secrets.ACCOUNT }} \
                --ip-address

        - name: Checkout code 
          uses: actions/checkout@v3
        - name: Display checkout files and folders
          run: Get-ChildItem ${{github.workspace}} -Recurse
        - name: Azure Login
          uses: Azure/login@v1
          with:
           creds: '{"clientId":"${{ secrets.CLIENT_ID }}","clientSecret":"${{ secrets.CLIENT_SECRET }}","subscriptionId":"${{ secrets.SUBSCRIPTION_ID }}","tenantId":"${{ secrets.TENANT_ID }}"}'
        - name: Build and Deploy SQL Database
          uses: Azure/sql-action@v2
          with:
            connection-string: ${{secrets.CONTROLDB_CONNECTIONSTRING}}
            path: ${{github.workspace}}\elt-framework\ControlDB\ELT\Database.sqlproj
            action: 'Publish'
            arguments: >
              /p:DropPermissionsNotInSource=false
              /p:BlockOnPossibleDataLoss=false
              /p:DropRoleMembersNotInSource=false
              /p:DropObjectsNotInSource=false
              /p:IgnoreColumnOrder=true
              /p:IgnorePermissions=true
              /p:AllowIncompatiblePlatform=true
              /p:ExcludeObjectTypes=Logins;Users
        - name: Azure Logout
          run: |
            az logout
